<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{{ page_title|default("Local Giving") }}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet"
              href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/custom/main.css') }}">
    </head>
    <body>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
